*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh 70vh 30vh;
    grid-template-areas:'a a a' 'b b c' 'd d d';
    gap: 10px;
    background-color: blueviolet;
    width: 100vw;
    height: 100vh;
}
header{
    background-color: aqua;
    grid-area: a;
}
main{
    background-color: yellow;
    grid-area: b;
}
aside{
    background-color: aquamarine;
    grid-area: c;
}
footer{
    background-color: blue;
    grid-area: d;
}